.Gallery {
    &__imgs {
        @media(min-width: 1024px) {
            margin: 110px 80px 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            &::after {
                content: "";
                flex: auto;
            }
        }
    }

    &__img {
        padding: 3px;

        img {
            width: 100%;

            @media(min-width: 1024px) {
                height: 20vh;
                width: auto;
            }
        }
    }
}