@import './_variables.scss';

.Menu {
    width: 100%;
    height: 100%;
    background-color: $darkGray;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 2;
    transition: .2s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;

    @media(min-width: 1024px) {
        width: 100vw;
        height: 80px;
        background-color: white;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 2;
    }

    @media(min-width: 1440px) {
        height: 110px;
    }

    &--active {
        right: 0;
    }

    &__list {
        @media(min-width: 1024px) {
            position: absolute;
            right: 80px;
        }

        ul {
            list-style: none;
            margin-bottom: 0;

            li {
                text-align: center;
                line-height: 2.3em;
                // text-transform: uppercase;

                @media(min-width: 1024px) {
                    display: inline-block;
                    padding-left: 1.5em;
                }

                a {
                    color: white;
                    text-decoration: none;
                    transition: .2s;
                    font-size: 1.2em;

                    @media(min-width: 1024px) {
                        color: $darkGray;
                    }

                    @media(min-width: 1024px) {
                        &:hover {
                            color: #808080;
                        }
                    }
                }
            }
        }
    }

    &__logo {
        display: none;

        @media(min-width: 1024px) {
            top: 0;
            left: 80px;
            // z-index: 2;
            position: absolute;
            background-color: white;
            height: 80px;
            width: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        @media(min-width: 1440px) {
            height: 110px;
            width: 300px;
        }

        img {
            width: 100%;
            // @media(min-width: 1024px) {
            //     width: 200px;
            // }
        }
    }
}