.Start {
    &__logo {
        position: absolute;
        bottom: 0;
        background-color: white;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;

        @media(min-width: 1024px) {
            // top: 0;
            // left: 80px;
            // height: 80px;
            // z-index: 2;
            display: none;
        }

        img {
            width: 100%;

            // @media(min-width: 1024px) {
            //     width: 200px;
            // }
        }
    }
}